{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle Candidature</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn-add">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
